.nav {
    height: 50px;
    background-color: lime;
}

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

.logo {
    flex: 1;
    text-decoration: none;
}

.links {
    display: flex;
    flex: 3;
    align-items: center;
    text-decoration: none;
}

.link {
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.superHeroes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    background: none;
    transition: all ease-in-out 250ms;
}

button:hover {
    opacity: 0.3;
    border: 1px solid black;
    color: black;
}

h4 {
    text-align: center;
}